[submodule "deps/DirectX-Headers"]
	path = deps/DirectX-Headers
	url = https://github.com/Microsoft/DirectX-Headers
[submodule "deps/volk"]
	path = deps/volk
	url = https://github.com/zeux/volk
[submodule "deps/VulkanMemoryAllocator"]
	path = deps/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/cglm"]
	path = deps/cglm
	url = https://github.com/recp/cglm
[submodule "deps/mimalloc"]
	path = deps/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "deps/zstd"]
	path = deps/zstd
	url = https://github.com/facebook/zstd
[submodule "assets"]
	path = assets
	url = https://git.randomcode.dev/mobslicer152/purpl-assets.git
[submodule "deps/D3D12MemoryAllocator"]
	path = deps/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "deps/Vulkan-Headers"]
	path = deps/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "deps/doxygen-awesome-css"]
	path = deps/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "deps/ufbx"]
	path = deps/ufbx
	url = https://github.com/ufbx/ufbx
