[submodule "deps/DirectX-Headers"]
	path = deps/DirectX-Headers
	url = https://github.com/Microsoft/DirectX-Headers
[submodule "deps/volk"]
	path = deps/volk
	url = https://github.com/zeux/volk
[submodule "deps/VulkanMemoryAllocator"]
	path = deps/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/zstd"]
	path = deps/zstd
	url = https://github.com/facebook/zstd
[submodule "assets"]
	path = assets
	url = https://git.randomcode.dev/mobslicer152/purpl-assets.git
[submodule "deps/D3D12MemoryAllocator"]
	path = deps/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "deps/doxygen-awesome-css"]
	path = deps/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "deps/discord-rpc"]
	path = deps/discord-rpc
	url = https://github.com/RandomcodeDev/discord-rpc
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "support"]
	path = support
	url = https://github.com/RandomcodeDev/purpl-support.git
[submodule "deps/cimgui"]
	path = deps/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "deps/flecs"]
	path = deps/flecs
	url = https://github.com/RandomcodeDev/flecs
[submodule "deps/physx"]
	path = deps/physx
	url = https://github.com/RandomcodeDev/PhysX
